body {
    background: rgb(25, 21, 26);
}
.main {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titik {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 50%;
    transition: 1s all ease;
    margin: 1rem;
}
.judul {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 30px white;
}
.merah {
    background-color: red;
    animation: nyalamerah 1s infinite;
}

.kuning {
    background-color: yellow;
    animation: nyalakuning 1s infinite;
}

.hijau {
    background-color: green;
    animation: nyalahijau 1s infinite;
}
.cyan {
    background-color: cyan;
    animation: nyalacyan 1s infinite;
}

.tombol {
    border-radius: 75%;
}

.tombolonoff {
    margin-top: 5%;
}

@keyframes nyalamerah{
    0%,
    100% { 
        box-shadow: 0px 0px 50px 5px red;
    }
    50% {
        box-shadow: none;
    }
}

@keyframes nyalakuning{
    0%,
    100% { 
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 50px 5px yellow;
    }
}

@keyframes nyalahijau{
    0%,
    100% { 
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 50px green;
    }
}

@keyframes nyalacyan{
    0%,
    100% { 
        box-shadow: 0px 0px 50px cyan;
    }
    50% {
        box-shadow: none;
    }
}